[defaults]

inventory      = inventory.ini 
# vault_password_file = /home/ec2-user/mysql_vault_pass

; ask_vault_pass = True
# comments for ansible.cfg
# 1. ansible configuration, ansible configuration example
# 2. just copy and paste with space otherwise u will get error
# 3. don't use comment in ansible.cfg
